<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <p v-if="gender === 1">性別：男</p>
    <p v-else>性別：女</p>
    <hr>
    <p v-if="sorce >= 90">電腦一台</pㄒ>
    <p v-else-if="sorce >= 70">獎金1000</p>
    <p v-else-if="sorce >= 60">飲料一杯</p>
    <p v-else>逞罰一個</p>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        gender: 2,
        sorce: 90
      },
    })
  </script>
</body>

</html>