<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <title>Document</title>
  <style>

  </style>
</head>

<body>
  <div id="app">
    姓:<input type="text" v-model="firstName">
    名:<input type="text" v-model="lastName">
    <span>{{ fullName }}</span>
    <button @click="changeName">改名</button>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        firstName: '伍',
        lastName: '百',
      },
      methods: {
        changeName() {
          this.fullName = '瘦瘦仁'
        }
      },
      computed: {
        // fullName() {
        //   return this.firstName + this.lastName
        // }
        fullName: {
          get() {
            return this.firstName + this.lastName
          },
          set(value) {
            console.log(value)
            // console.log(value.slice(0,1))
            // console.log(value.slice(1))
            this.firstName = value.slice(0,1);
            this.lastName = value.slice(1);
          }
        }
      }
    })
  </script>
</body>

</html>